@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
    src: url('../fonts/Poppins-Regular.ttf') format('ttf'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
}

body {
    font-family: Poppins, sans-serif;

}